--
-- PostgreSQL database dump
--

\restrict 0JlvSzYxBzKuo23Rp9HSFW6pdd9GFQiS4rFogHOetI5wlCOTVuqEygENuYQgZVY

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: prompt_type; Type: TYPE; Schema: public; Owner: evigstudio
--

CREATE TYPE public.prompt_type AS ENUM (
    'chat',
    'agent'
);


ALTER TYPE public.prompt_type OWNER TO evigstudio;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: evigstudio
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'developer',
    'tester',
    'auditor'
);


ALTER TYPE public.user_role OWNER TO evigstudio;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: evigstudio
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    action text NOT NULL,
    resource_type text NOT NULL,
    resource_id text,
    metadata jsonb,
    ip text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO evigstudio;

--
-- Name: chats; Type: TABLE; Schema: public; Owner: evigstudio
--

CREATE TABLE public.chats (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    group_id uuid,
    privacy text DEFAULT 'private'::text NOT NULL,
    thread_id uuid,
    thread_title text,
    tags jsonb DEFAULT '[]'::jsonb NOT NULL,
    version_history jsonb DEFAULT '[]'::jsonb NOT NULL,
    title text NOT NULL,
    messages jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.chats OWNER TO evigstudio;

--
-- Name: group_members; Type: TABLE; Schema: public; Owner: evigstudio
--

CREATE TABLE public.group_members (
    group_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role_in_group text DEFAULT 'member'::text NOT NULL
);


ALTER TABLE public.group_members OWNER TO evigstudio;

--
-- Name: group_workspaces; Type: TABLE; Schema: public; Owner: evigstudio
--

CREATE TABLE public.group_workspaces (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    group_id uuid NOT NULL,
    label text NOT NULL,
    root_path text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.group_workspaces OWNER TO evigstudio;

--
-- Name: groups; Type: TABLE; Schema: public; Owner: evigstudio
--

CREATE TABLE public.groups (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.groups OWNER TO evigstudio;

--
-- Name: prompts; Type: TABLE; Schema: public; Owner: evigstudio
--

CREATE TABLE public.prompts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type public.prompt_type NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prompts OWNER TO evigstudio;

--
-- Name: users; Type: TABLE; Schema: public; Owner: evigstudio
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    display_name text NOT NULL,
    role public.user_role DEFAULT 'developer'::public.user_role NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO evigstudio;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: evigstudio
--



--
-- Data for Name: chats; Type: TABLE DATA; Schema: public; Owner: evigstudio
--



--
-- Data for Name: group_members; Type: TABLE DATA; Schema: public; Owner: evigstudio
--

COPY public.group_members (group_id, user_id, role_in_group) FROM stdin;
6f81f567-20c7-45bf-bee3-b2d8e8af84ff	36d0687b-e2ec-4379-a28d-3ea2173ef733	lead
cccfb9bc-70b0-4a89-905f-78888a2a4879	36d0687b-e2ec-4379-a28d-3ea2173ef733	lead
cb744316-02ca-4790-a7ad-17138025dfe0	36d0687b-e2ec-4379-a28d-3ea2173ef733	lead
cb744316-02ca-4790-a7ad-17138025dfe0	400ecad7-5671-4787-9b30-edf87ad52240	member
\.


--
-- Data for Name: group_workspaces; Type: TABLE DATA; Schema: public; Owner: evigstudio
--

COPY public.group_workspaces (id, group_id, label, root_path, created_at) FROM stdin;
\.


--
-- Data for Name: groups; Type: TABLE DATA; Schema: public; Owner: evigstudio
--

COPY public.groups (id, name, description, created_by, created_at) FROM stdin;
6f81f567-20c7-45bf-bee3-b2d8e8af84ff	hello	fkjdasnkfasf	36d0687b-e2ec-4379-a28d-3ea2173ef733	2026-05-12 15:58:18.688707+00
cccfb9bc-70b0-4a89-905f-78888a2a4879	bye	mhjdbsakjd	36d0687b-e2ec-4379-a28d-3ea2173ef733	2026-05-12 15:58:40.871219+00
cb744316-02ca-4790-a7ad-17138025dfe0	teams	wmndskj	36d0687b-e2ec-4379-a28d-3ea2173ef733	2026-05-12 15:58:48.171746+00
\.


--
-- Data for Name: prompts; Type: TABLE DATA; Schema: public; Owner: evigstudio
--

COPY public.prompts (id, type, content, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: evigstudio
--



--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: chats chats_pkey; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT chats_pkey PRIMARY KEY (id);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (group_id, user_id);


--
-- Name: group_workspaces group_workspaces_pkey; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.group_workspaces
    ADD CONSTRAINT group_workspaces_pkey PRIMARY KEY (id);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: prompts prompts_pkey; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.prompts
    ADD CONSTRAINT prompts_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- Name: audit_logs_created_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX audit_logs_created_idx ON public.audit_logs USING btree (created_at);


--
-- Name: audit_logs_resource_type_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX audit_logs_resource_type_idx ON public.audit_logs USING btree (resource_type);


--
-- Name: audit_logs_user_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX audit_logs_user_idx ON public.audit_logs USING btree (user_id);


--
-- Name: chats_group_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX chats_group_idx ON public.chats USING btree (group_id);


--
-- Name: chats_owner_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX chats_owner_idx ON public.chats USING btree (owner_id);


--
-- Name: chats_thread_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX chats_thread_idx ON public.chats USING btree (thread_id);


--
-- Name: group_workspaces_group_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX group_workspaces_group_idx ON public.group_workspaces USING btree (group_id);


--
-- Name: prompts_type_created_idx; Type: INDEX; Schema: public; Owner: evigstudio
--

CREATE INDEX prompts_type_created_idx ON public.prompts USING btree (type, created_at DESC);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: chats chats_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT chats_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE SET NULL;


--
-- Name: chats chats_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT chats_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: group_workspaces group_workspaces_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.group_workspaces
    ADD CONSTRAINT group_workspaces_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: groups groups_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: evigstudio
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 0JlvSzYxBzKuo23Rp9HSFW6pdd9GFQiS4rFogHOetI5wlCOTVuqEygENuYQgZVY

